@import "tailwindcss";
@font-face {
  font-family: "higherJump";
  font-display: swap;
  src: url("/fonts/higher-jump.regular.ttf") format("truetype");
}

@font-face {
  font-family: "westerners";
  font-display: swap;
  src: url("/fonts/WesternersDemoRegular.ttf") format("truetype");
}

@theme {
    --color-limeGreen: #21fc0d;
    --color-brightYellow: #ffcf00;
    --color-hotPink: #ff11ff;
    --color-customGray: #747474;
    --color-logoGray: #cecece;

    --font-higherJump: higherJump, sans-serif;
    --font-westerners: westerners, cursive;
    --font-titillium: titillium, sans-serif;

  }

  @layer base {
    html {
      scroll-behavior: smooth;
    }
  }


@layer components {

  .mobile-menu {
    @apply fixed top-0 right-0 h-full w-3/4 max-w-xs bg-customGray/90 backdrop-blur-md shadow-lg;
  }
  
  .mobile-menu-enter {
    @apply translate-x-0;
  }
  
  .mobile-menu-exit {
    @apply translate-x-full;
  }

  .lmw{
    @apply font-higherJump text-2xl pt-10;
  }

  .l{
    @apply text-limeGreen;
  }

  .m{
    @apply text-brightYellow;
  }

  .w{
    @apply text-hotPink;
  }

 .fitness{
  @apply font-westerners text-2xl text-logoGray pr-10;
  }

  .title-section {
    @apply text-center mt-8;
  }

  .h1-primary {
    @apply text-4xl font-titillium font-bold text-customGray leading-tight mb-2 py-4 border-t-4 border-b-4;
    border-image: linear-gradient(to right, #21fc0d, #ffcf00, #21fc0d ) 1;
  }

  .h2-primary {
    @apply text-xl font-semibold font-titillium text-customGray tracking-wide mb-2;
  }

  .p-primary {
    @apply font-titillium text-customGray leading-loose;
  }

  .btn-primary {
    @apply mt-6 px-6 py-3 bg-brightYellow text-customGray font-bold rounded-lg transition-all;
  }

  .btn-primary:hover {
    background: linear-gradient(to right, #21fc0d, #ffcf00, #ff11ff);
  }

  .btn-secondary {
    @apply py-2 px-3 font-titillium bg-brightYellow hover:bg-hotPink text-white rounded transition duration-300;
  }

  .link {
    @apply font-titillium text-hotPink hover:text-limeGreen;
  }

  .custom-toast {
    @apply bg-white text-customGray font-titillium p-4 rounded-lg shadow-lg text-lg font-bold w-96 text-center;
  }
}